body {
  background-image: url(images\ \(1\).jpg);
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  background-attachment: fixed;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
  }
  .contenedor {
    position: relative;
    text-align: center;
    color: black; /* Color del texto */
  }

  /* Estilo para la imagen */
  .imagen {
    width: 100%;
    width: 700px; /* Ajustar el ancho según sea necesario */
    height: auto;
  }
  #mensaje {
      position: absolute;
      top: 50%; /* Posición vertical centrada */
      left: 50%; /* Posición horizontal centrada */
      transform: translate(-50%, -50%); /* Centrar completamente */
      text-align: center; /* Alinear el texto al centro */
    }

    /* Estilo adicional si es necesario */
    #mensaje h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    #mensaje p {
      font-size: 15px;
      margin-bottom: 50px;
    }
    #mensaje button {
        font-size: 18px;
        padding: 10px 20px;
        cursor: pointer;
      }
  
      #piropo {
        font-size: 18px;
        font-style: italic;
      }
      @media(max-width:768px){
        .imagen{
          width: 100%;
          width: 310px;
          height: 500px;
          padding: 0 10px;
        }
        #mensaje {
          position: absolute;
          top: 50%; /* Posición vertical centrada */
          left: 50%; /* Posición horizontal centrada */
          transform: translate(-50%, -50%); /* Centrar completamente */
          text-align: center; /* Alinear el texto al centro */
        }
      }